/* main.css */

.password-container {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    position: relative;
    min-width: 500px; /* Adjust width to accommodate maximum character limit */
}

#generated-password {
    min-width: 500px; /* Adjust as needed */
    display: inline-block;
    margin-left: 20px; /* Add space between refresh button and password */
    text-align: center; /* Center the password text */
}

.refresh-icon {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    position: absolute; /* Position the icon relative to its container */
    top: 50%; /* Align the icon vertically at the center */
    left: 50%; /* Align the icon horizontally at the center */
    transform: translate(0% , -50%); /* Adjust to center the icon */
    z-index: 1; /* Ensure the icon is above other elements */
}

.refresh-button {
    position: absolute;
    top: 50%;
    left: 10px; /* Position on the left side */
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.3s ease, scale 0.3s ease; /* Add transition */
    z-index: 1; /* Ensure refresh button is above the pseudo-element */
}

.refresh-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px; /* Adjust to fit the button */
    width: 30px; /* Adjust to fit the button */
    height: 30px; /* Adjust to fit the button */
    background-color: #ccc; /* Same color as the box around the password */
    border-radius: 5px;
    transform: translateY(-50%);
    z-index: -1; /* Ensure the box is behind the icon */
}